.sbg_color{
    background-color: #3C8DBC!important;
}
.header .toggle-sidebar-btn{
    color: aliceblue!important;
}
.himg{
    margin-right: 6px;
    padding-right: 1px;
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 4px;
    background: #0c9ad1;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.himg_icon{
    font-size: 26px !important;
    color: #fff !important;
    font-weight: bolder !important;
}

.hpro_item{
    color: #fff !important;
    transition: .4s;
}
.hpro_item:hover{
    background-color: #3C8DBC !important;
    color: #73c0ec !important;
}
.admin_profile_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #ffffff;
    outline: 2px solid #d5c1c1;
}
.admin_default_profile_image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #ffffff;
    outline: 2px solid #d5c1c1;
}